#wraper{
width:300px;
padding:20px;
border-radius:50px 10px 0 0;
}
a.tombol{
background-image:-webkit-linear-gradient(top,#666,#999);
border:#cccccc;
border-radius:8px;
color:white;
padding:10px;
margin:auto;
}
div.popup{
background-color:#f2f2f2;
border:3px solid #ccc;
display:inline-block;
top:40%;
left:50%;
opacity:1;
padding:15px;
position:fixed;
text-align:justify;
visibility:visible;
z-index:10;
-webkit-transform:translate(-50%, -50%);
border-radius:15px;
-webkit-transition:opacity .5s,top .5s;
}
a.close{
background-color:#fff;
border:3px solid #ccc;
border-radius:15px;
height:30px;
line-height:30px;
position:absolute;
right:0;
text-align:center;
text-decoration:none;
top:-15px;
right:-10px;
width:30px;
}
a.close:before{
color:rgba(0,0,0,0.8);
content:"x";
font-size:18px;
}
a.close:hover{
background:red;
}
#muncul{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default;
left:0;
opacity:1;
position:fixed;
right:0;
top:0;
visibility:visible;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul2{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default;
left:0;
opacity:1;
position:fixed;
right:0;
top:0;
visibility:visible;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul3{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default;
left:0;
opacity:1;
position:fixed;
right:0;
top:0;
visibility:visible;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul4{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default;
left:0;
opacity:1;
position:fixed;
right:0;
top:0;
visibility:visible;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul5{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default;
left:0;
opacity:1;
position:fixed;
right:0;
top:0;
visibility:visible;
z-index:1;
-webkit-transition:opacity .5s;
}
div.popup{
background-color:#f2f2f2;
border:3px solid #ccc;
display:inline-block;
top:40%;
left:50%;
opacity:0;
padding:15px;
position:fixed;
text-align:justify;
visibility:hidden;
z-index:10;
-webkit-transform:translate(-50%,-50%);
border-radius:15px;
-webkit-transition:opacity .5s,top .5s;

}
#muncul{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default:
left:0;
opacity:0;
position:fixed;
right:0;
top:0;
visibility:hidden;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul2{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default:
left:0;
opacity:0;
position:fixed;
right:0;
top:0;
visibility:hidden;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul3{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default:
left:0;
opacity:0;
position:fixed;
right:0;
top:0;
visibility:hidden;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul4{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default:
left:0;
opacity:0;
position:fixed;
right:0;
top:0;
visibility:hidden;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul5{
background-color:rgba(0,0,0,0.6);
bottom:0;
cursor:default:
left:0;
opacity:0;
position:fixed;
right:0;
top:0;
visibility:hidden;
z-index:1;
-webkit-transition:opacity .5s;
}
#muncul:target{
visibility:visible;
opacity:1;

}
#muncul2:target{
visibility:visible;
opacity:1;

}
#muncul3:target{
visibility:visible;
opacity:1;

}
#muncul4:target{
visibility:visible;
opacity:1;

}
#muncul5:target{
visibility:visible;
opacity:1;

}
#muncul:target+.popup{
top:5%;
left:30%;
opacity:1;
visibility:visible;
}
#muncul2:target+.popup{
top:15%;
left:25%;
opacity:1;
visibility:visible;
}
#muncul3:target+.popup{
top:15%;
left:25%;
opacity:1;
visibility:visible;
}
#muncul4:target+.popup{
top:15%;
left:25%;
opacity:1;
visibility:visible;
}
#muncul5:target+.popup{
top:15%;
left:25%;
opacity:1;
visibility:visible;
}
